<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>AI HelpDesk</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

<nav class="navbar-container">

    <div class="logo">
        AI HelpDesk
    </div>

    <ul class="nav-links">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('create_ticket') }}">Create Tickets</a></li>
        <li><a href="{{ url_for('active_tickets') }}">View Tickets</a></li>
    </ul>

    <div class="nav-icons">


        {% if session.get('user_id') %}
        <a href="{{ url_for('profile') }}">
            <i class="fa fa-user"></i>
        </a>
        {% else %}
        <a href="{{ url_for('login') }}">
            <i class="fa fa-user"></i>
        </a>
        {% endif %}

    </div>

</nav>

<!-- PAGE CONTENT -->
<div class="main-content">

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

{% for category, message in messages %}

<div class="flash {{ category }}">
{{ message }}
</div>

{% endfor %}

{% endif %}
{% endwith %}

{% block content %}{% endblock %}

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>