{% extends "base.html" %}
{% block content %}
<h1>All Tickets</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Issue</th>
        <th>Category</th>
        <th>Priority</th>
        <th>Status</th>
    </tr>
    {% for ticket in tickets %}
    <tr>
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.issue }}</td>
        <td>{{ ticket.category }}</td>
        <td>{{ ticket.priority }}</td>
        <td>{{ ticket.status }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
